<div class="container">
  <div class="jumbotron">
    <h2>Hello, my name is Ryu Young-jin.</h2>
    <p>Feel free to send a message to my email<br/>which is <b>ac12bd@gmail.com</b></p>
    <p>Or</p>
    <p><a class="btn btn-success btn-lg" href="" role="button">Contact me</a> | <a class="btn btn-primary btn-lg" href="" role="button">Learn more</a></p>
   </div>
    <!-- 16:9 aspect ratio -->
    <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/--QO55GHPTQ"></iframe>
    </div>

  <h2>My todos</h2>

  <!-- Todos input -->
  <form role="form" ng-submit="addTodo()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="todo" placeholder="What needs to be done?" class="form-control"/>

        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add"/>
        </span>

      </div>
    </div>  

    <!-- Todos list -->
    <div ui-sortable ng-model="todos">
    <p class="input-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor:move;">
      <input type="text" ng-model="todo" class="form-control"/>
      <span class="input-group-btn">
          <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
      </span>
    </p>
</div>
    </form>
    <button class="btn btn-danger" ng-click="removeAll()" aria-label="Remove">Remove All todos</button>
  </div>
